%YAML 1.1
%TAG !u! tag:unity3d.com,2011:
--- !u!114 &11400000
MonoBehaviour:
  m_ObjectHideFlags: 0
  m_CorrespondingSourceObject: {fileID: 0}
  m_PrefabInstance: {fileID: 0}
  m_PrefabAsset: {fileID: 0}
  m_GameObject: {fileID: 0}
  m_Enabled: 1
  m_EditorHideFlags: 0
  m_Script: {fileID: 11500000, guid: 1cc6f08930a0b70b9d0d8c1d99d39933, type: 3}
  m_Name: SdkConfigure
  m_EditorClassIdentifier:
  AdConfigures:
  - SdkAdConfigureType: 2
    StatictKey: ji_1
    AdFilterConfigures: []
    AdCountConfigures: []
  - SdkAdConfigureType: 2
    StatictKey: ji_2
    AdFilterConfigures:
    - SdkFilterConfigureType: 0
      NeedResetEverDay: 0
      SaveKey:
      ControllerKey:
      DefaultContent: 0
    AdCountConfigures: []
  - SdkAdConfigureType: 2
    StatictKey: ji_5
    AdFilterConfigures:
    - SdkFilterConfigureType: 0
      NeedResetEverDay: 0
      SaveKey:
      ControllerKey:
      DefaultContent: 0
    AdCountConfigures:
    - UsedType: 2
      NeedResetEverDay: 0
      MaxCount: 3
  - SdkAdConfigureType: 2
    StatictKey: ji_6
    AdFilterConfigures:
    - SdkFilterConfigureType: 0
      NeedResetEverDay: 0
      SaveKey:
      ControllerKey:
      DefaultContent: 0
    AdCountConfigures:
    - UsedType: 2
      NeedResetEverDay: 0
      MaxCount: 1
  - SdkAdConfigureType: 2
    StatictKey: ji_8
    AdFilterConfigures:
    - SdkFilterConfigureType: 0
      NeedResetEverDay: 0
      SaveKey:
      ControllerKey:
      DefaultContent: 0
    AdCountConfigures: []
  - SdkAdConfigureType: 0
    StatictKey: fl_0
    AdFilterConfigures:
    - SdkFilterConfigureType: 0
      NeedResetEverDay: 0
      SaveKey:
      ControllerKey:
      DefaultContent: 0
    AdCountConfigures: []
  - SdkAdConfigureType: 1
    StatictKey: fl_1
    AdFilterConfigures:
    - SdkFilterConfigureType: 1
      NeedResetEverDay: 0
      SaveKey:
      ControllerKey: gameover_full
      DefaultContent: 1
    - SdkFilterConfigureType: 0
      NeedResetEverDay: 0
      SaveKey:
      ControllerKey: gameover_nofull
      DefaultContent: 0
    - SdkFilterConfigureType: 2
      NeedResetEverDay: 0
      SaveKey: split_time_all
      ControllerKey: split_time
      DefaultContent: 45
    AdCountConfigures: []
  - SdkAdConfigureType: 1
    StatictKey: fl_2
    AdFilterConfigures:
    - SdkFilterConfigureType: 0
      NeedResetEverDay: 0
      SaveKey:
      ControllerKey: level_nofull
      DefaultContent: 3
    - SdkFilterConfigureType: 1
      NeedResetEverDay: 0
      SaveKey:
      ControllerKey: level_full
      DefaultContent: 1
    - SdkFilterConfigureType: 2
      NeedResetEverDay: 0
      SaveKey: split_time_all
      ControllerKey: split_time
      DefaultContent: 45
    AdCountConfigures: []
  - SdkAdConfigureType: 1
    StatictKey: fl_3
    AdFilterConfigures:
    - SdkFilterConfigureType: 0
      NeedResetEverDay: 0
      SaveKey:
      ControllerKey: box_nofull
      DefaultContent: 1
    - SdkFilterConfigureType: 2
      NeedResetEverDay: 0
      SaveKey: split_time_all
      ControllerKey: split_time
      DefaultContent: 45
    - SdkFilterConfigureType: 1
      NeedResetEverDay: 0
      SaveKey:
      ControllerKey: box_full
      DefaultContent: 1
    AdCountConfigures: []
