fileFormatVersion: 2
guid: da21460fd76db7c459f959b256d74724
timeCreated: 1700992353
licenseType: Free
NativeFormatImporter:
  externalObjects: {}
  mainObjectFileID: 11400000
  userData:
  assetBundleName:
  assetBundleVariant:
